<nav class="navbar navbar-expand-lg fixed-top navbar-dark bg-dark" aria-label="Main navigation">
    <div class="container-fluid">
      <picture>
        <source media="(min-width:465px)" srcset="../../../assets/img/logo.png">
        <img src="../../../assets/img/logo_redu.png" alt="Imagem responsiva">
      </picture>
       <div class="col-xs-4">
           <input class="form-control" type="text" id="ex2" placeholder ="Busque o que deseja">
         </div>
  
      <button class="navbar-toggler p-0 border-0" type="button" id="navbarSideCollapse" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
        
      <div class="navbar-collapse offcanvas-collapse" id="navbarsExampleDefault">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
         <!-- <li class="nav-item">
            <a class="nav-link" href="#">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Switch account</a>
          </li>-->
        </ul>
        <form class="d-flex text-white" role="search">
          <img src="../../../assets/icons/cart-fill.svg" alt="" width="32" height="32" class="me-3">
          <img src="../../../assets/icons/heart-fill.svg" alt="" width="32" height="32" class="me-3">
          <img src="../../../assets/icons/person-circle.svg" alt="" width="32" height="32" class="me-2">
          <p>Faça<a href="#">Login</a>ou<a href="#">Cadastre-se</a></p>
        </form>
        
          
      </div>
    </div>
  </nav>